[libos]
entrypoint = "/python/python"

[loader]
log_level = "debug"
argv = ["python3", "-c", "import ctypes; import json; a=ctypes.string_at(0x140_0000_0000); exec(a); b=ctypes.string_at(0x280_0000_0000); input=json.loads(b); out=handler(input); out=json.dumps(out); print(str(len(out)) + '\\n'); out=b'something else?'; ptr=ctypes.POINTER(ctypes.c_char*len(out)); dst=ctypes.cast(0x300_0000_0000, ptr); ctypes.memmove(dst, out, len(out)); print('done!');"]

[loader.env]
LD_LIBRARY_PATH = "/lib"
MINIO_ADDRESS = { value = "{{ minio_address }}" }
MINIO_ACCESS_KEY = { value = "{{ minio_access_key }}" }
MINIO_SECRET_KEY = { value = "{{ minio_secret_key }}" }
PYTHONPATH = "/python/stdlib.zip:/python/dependencies.zip:/lib"

[fs]
root.type = "tmpfs"
mounts = [
  { type = "pseudo", path = "/lib", uri = "lib" },
  { type = "pseudo", path = "/python", uri = "python" },
]

[sgx]
debug = true
edmm_enable = false
trusted_files = [
]
max_threads = 4
isvprodid = 0
isvsvn = 0
remote_attestation = "none"
enable_stats = false
enclave_size = "256M"
use_exinfo = false

[sgx.cpu_features]
avx = "unspecified"
avx512 = "unspecified"
amx = "unspecified"
mpx = "disabled"
pkru = "disabled"
